* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .menu-container {
    color: #fff;
    background-color: #1F2937 ;
    padding: 20px 0;
    display: flex;
    align-items: center;
  }
  
  .menu{
    width: 3000px;
    justify-content: space-around;
    display: flex;
  }
  .links {
    display: flex;
    justify-content: flex-end;
  }
  .logo-h{
    color: #F9FAF8;
    font-size: 24px;
    justify-content: flex-start;
  }
  .about{
    margin-top: 5px;
    margin-left: 20px;
  }
  .login {
    margin-left: 20px;
    margin-top: 5px;
  }
  .signup{
    margin-left: 20px;
    margin-top: 5px;
  }
  
  
  
  
.header-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}
.header {
  width: 900px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  justify-content: flex-start;
  margin-left: 75px;
  width: 450px;
}
.title {
  font-size: 48px;
  margin-bottom: 5px;
}
.info {
    font-size: 18px;
    margin-bottom: 20px;
    color: #E5E7EB;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    width: 100px;
    height: 30px;
}
.right {
  justify-content: flex-end;
}








.main-container {
  color: #000000;
  background-color: #D6E9FE;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.main {
  display: flex;
  height: 450px;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-2 {
  font-size: 36px;
  color: #1F2937;
  margin: 35px;
  justify-content: flex-start;
}
.squares{
  flex-direction: row;
  display: flex;
  align-items: center;
}
.square{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  background-color: #ffffff;
  border: #3882F6 3px solid;
  margin: 10px;
  border-radius: 20px;
}
.text {
  display: flex;
  justify-content: center;
}



.message-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  background-color: #E5E7EB;
  flex-direction: column;
}
.message{
  display: flex;
  font-size: 28px;
  margin-left: 35px;
  margin-right: 35px;
  width: 750px;
}
.person{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: flex-end;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 10px;
  width: 750px;
}

.final{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  height: 200px;
  width: 950px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  border-radius: 12px;
}





.buton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882F6;
  color: white;
  border-radius: 7px;
  width: 100px;
  height: 30px;
  margin-left: 35px;
  margin-right: 35px;
  border: rgb(255, 255, 255) 2px solid;
}
